// Variables SCSS

//Colores originales
$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$grey: #8a8a8a;

// Colores para el blog + dark-teal
$purpura: #6c5b7b;
$cobre: #b5651d;
$pizarra: #455a64;
$turquesa: #207b88;

$blanco-suave: #f9f9f9;

//
/*----------pruebas---------*/
// $teal: #ff6b6b;
// $dark-teal: #e64a4a;
// $charcoal: #222831;
// $offwhite: #f6f6f6;
// $blue: #00adb5;
// $warning: #e9473a;
// $grey: #aaaaaa;

// $teal: #588157;
// $dark-teal: #3a5a40;
// $charcoal: #2c3e50;
// $offwhite: #f8f9fa;
// $blue: #b5651d;
// $warning: #a64b4b;
// $grey: #95a5a6;

// $teal: #b197fc;
// $dark-teal: #906ad8;
// $charcoal: #36454f;
// $offwhite: #ffffff;
// $blue: #9fe6a0;
// $warning: #ff7f7f;
// $grey: #c0c0c0;
